.col {
	min-height: 50px;
	width: 100%;
	background-color: pink;
}

/*
DONT TRY UNLESS YOU REALLY
WANT EVERY ELEMENT TO HAVE FLOAT...
.cols * {
	float: left;
}
*/

.col-half {
	float: left;
	width: 50%;
	min-height: 400px;
	background-color: white;
	box-sizing: border-box;
	border: 10px solid black;
	/*border: 1px solid black;*/

	padding: 25px;
}

.col-third {
	float: left;
	width: 33.33%;
	min-height: 400px;
	background-color: white;
	box-sizing: border-box;
	box-sizing: border-box;
	border: 10px solid black;
}

.col-fourth {
float: left;
	width: 25%;
	min-height: 400px;
	background-color: white;
	color: red;
	box-sizing: border-box;
	border: 10px solid black;
}
.col-fifth {
float: left;
	width: 25%;
	min-height: 400px;
	background-color: white;
	color: red;
	box-sizing: border-box;
	border: 10px solid black;

.clearfix:after {
	clear: both;
	content: "";
	display: block;
}
















